{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>International Bank - ATM</h1>
            <div>
                <a href="{{ path('index') }}">Back</a>
                {% if result is empty%}
                    <p class="error">{{ error }}</p>
                {% else %}
                    <p>Please take you bills:</p>
                    <ul>
                    {% for bill,num in result %}
                        <li>${{ bill }} = {{ num }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <h2></h2>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
{% endblock %}
