{% extends 'AppBundle::base.html.twig' %}

{% block title %}Bienvenido a su cajero Automático{% endblock %}


{% block content %}
<article style="text-align:left;">
<form name="dinero_entregado" action="{{ path('index') }} " METHOD="POST" >

<h3>Dinero Entregado: ${{ cantidad|number_format(2, '.', ',') }}</h3>
<label>Desgloce:</label>
<ul>
	{% for denominacion in billetes %}
        <li> ${{ denominacion.denominacion|number_format(2, '.', ',') }} X {{ denominacion.cantidad }}</li>
    {% endfor %}
</ul>
<label>Gracias por su preferencia</label>
	<input type="submit" style="display:none;"  value="Continuar" />
</form>
</article>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
<script type="text/javascript">

$( document ).ready( function(){
		$('#btnAceptar').click(function(){
		
		$('form[name="dinero_entregado"]').submit();
	});
	
} );
</script>
{% endblock %}
	 
