<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %} {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    
	<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
    <!-- Custom styles for this template -->
	<link href="{{ asset('css/cover.css') }}" rel="stylesheet" />
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	{% block styles %}
	<style type="text/css">
		#pnlTecladoNumerico{
			color:#333;
		}
		#pnlTecladoNumerico btn{
			padding:0;
		}
	</style>
	{% endblock %}
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover " style=" ">
			<div class="row">
				<div id="pnlPantalla" class="col-md-6" style="background-color: #333;padding: 20px; border-radius: 16px; box-sizing: content-box;">
					{% block content %} {% endblock %}
				</div>
				<div id="pnlBotones" class="col-md-5 pull-right" style="display:table;  ">
					<div class="row" style="display:table-cell; vertical-align: middle;">
						<div id="pnlBotonesContent" style="border:1px solid #333; border-radius: 16px; padding:20px">
							<div class="col-xs-8" style="text-align:center" id="pnlTecladoNumerico">
								<input  class="col-xs-3" class="btn btn-success" style="" type="button" value="1" /> 
								<input  class="col-xs-3" class="btn btn-success" style="" type="button" value="2" />
								<input  class="col-xs-3" class="btn btn-success" style="" type="button" value="3" />
								<input  class="col-xs-3" class="btn btn-success" style="" type="button" value="4" /> 
								<input  class="col-xs-3" class="btn btn-success" style="" type="button" value="5" />
								<input  class="col-xs-3" class="btn btn-success" style="" type="button" value="6" />
								<input  class="col-xs-3" class="btn btn-success" style="" type="button" value="7" /> 
								<input  class="col-xs-3" class="btn btn-success" style="" type="button" value="8" />
								<input  class="col-xs-3" class="btn btn-success" style="" type="button" value="9" />
								<input  class="col-xs-3" class="btn btn-success" style="" type="button" value="" /> 
								<input  class="col-xs-3" class="btn btn-success" style="" type="button" value="0" />
								<input  class="col-xs-3" class="btn btn-success" style="" type="button" value="" />
							</div>
							<div class="col-xs-4 ">
								<div class="row">
								<input id="btnAceptar" class="col-xs-12 btn btn-success" style="" type="button" value="Aceptar" /> 
								<input id="btnCancelar" class="col-xs-12  btn btn-warning" style="margin-top:10px" type="button" value="Cancelar" /> 
								</div>
							</div>
							<div style="clear:both;">

						</div>	
					</div>
				</div>
			</div>
			
            
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cash Machine, by <a href="#">Octavio Alapizco</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ asset('js/ie10-viewport-bug-workaround.js') }}"></script>
	<script src="{{ asset('js/jquery.blockUI.js') }}"></script>
	
  {% block javascripts %}
	<script type="text/javascript">
		$('#pnlPantalla').css('min-height',$('#pnlPantalla').height())  ;
		$('#pnlBotones').height( $('#pnlPantalla').height() ) ;
	</script>
  {% endblock %}

</body></html>